<div class="text-center">
  <table *ngIf="!loading">
    <tr>
      <th class="capitalize">{{ listTitle }}</th>
    </tr>
    <tr *ngIf="clients.length === 0; else clientList">
      <p>{{ 'components.clientList.emptyListMessage' | translate }}</p>
    </tr>
  </table>
  <p *ngIf="loading">{{ 'common.loading' | translate }}</p>
</div>

<ng-template #clientList>
  <tr *ngFor="let client of clients">
    <td>
      <div style="float: left">
        <span class="client-title">
          {{ client.title }}
        </span>
      </div>
      <div style="float: right">
        <button class="btn btn-default" (click)="navigateToLogsPage(client.id)">{{ 'components.clientList.showLogs' | translate }}</button>
      </div>
    </td>
  </tr>
</ng-template>
